doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../css/normalize.css")
    link(rel="stylesheet", href="../css/themes/default.css")
    link(rel="stylesheet", href="../css/spaces/new.css")
    title Topics - i like!
  body
    include ../includes/header_logged.pug
    - let currentPage = '/topics';
    include ../includes/nav_inapp.pug

    - let randomBanner = topics[Math.floor(Math.random() * (topics.length - 0))].banner
    div(class='background' style=`background: url(${randomBanner}); background-position: top; background-size: cover;`)
    
    main
      for topic in topics 
        include ../components/topic.pug
    script(src="../../js/lib/hrMenu.js")
    script(src="../../js/spaces/new.js")