doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../css/normalize.css")
    link(rel="stylesheet", href="../css/themes/default.css")
    link(rel="stylesheet", href="../css/manage/home.css")
    title Manage - Home / i like!
  body
    include ../includes/header_manage.pug
    main
      a(href='/manage/users' class='card' role='btn')
        h2(class='subt') Users
        p(class='para')=users.length
      a(href='/manage/sanctions' class='card' role='btn')
        h2(class='subt') Sanctions
        p(class='para')=sanctions.length

  script(src='../../js/lib/hrMenu.js')