doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/normalize.css")
    link(rel="stylesheet", href="/css/themes/default.css")
    link(rel="stylesheet", href="/css/404.css")
    title 404 - i like!
  body
    main
      img(src='https://i.pinimg.com/originals/6f/85/ed/6f85edfb72ba39505ffee90947103ee5.gif' class='gif')
      h2(class="subt")=`${err ? err : '404'}`
      a(href="/" class='link') Go to home