doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/normalize.css")
    link(rel="stylesheet", href="css/themes/default.css")
    link(rel="stylesheet", href="css/home.css")
    title Home / i like!
  body 
    include includes/header.pug
    script(src="js/lib/changeBackground.js")
    script(src="js/lib/hrMenu.js")
    script(src="js/home.js") 