doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/normalize.css")
    link(rel="stylesheet", href="css/themes/default.css")
    link(rel="stylesheet", href="css/login.css")
    title Login / i like!
  body 
    include includes/header.pug

    main 
      form(action="/login", method="post" class='fm')
        h2(class='subt') Sign in
        label(for="user_username" class='label' class="fm-lb") Username
          input(type="text" name="user_username" id="user_username" class="fm-i" required)
        label(for="user_password" class="fm-lb") Password
          input(type="password" name="user_password" id="user_password" class="fm-i" required)

        button(type="submit" class='fm-btn') let's go!
    
    script(src="js/lib/hrMenu.js")
    script(src="js/login.js")