doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/normalize.css")
    link(rel="stylesheet", href="css/themes/default.css")
    link(rel="stylesheet", href="css/register.css")
    title Register / i like!
  body 
    include includes/header.pug

    main 
      form(action="/register", method="post" class='fm')
        h2(class='subt') Create a account
        a(href='/login' class='link') Or are you trying to login?
        label(for="name" class='label' class="fm-lb") Username
          input(type="text" name="name" id="user-name" class="fm-i" required)
        label(for="name" class='label' class="fm-lb") Display name
          input(type="text" name="name" id="user-display-name" class="fm-i" required)
        label(for="password" class="fm-lb") Password
          input(type="password" name="password" id="user-password" class="fm-i" required)
        label(for="password" class="fm-lb") Confirm password
          input(type="password" name="password" id="user-password-confirm" class="fm-i" required)
        label(for="password" class="fm-lb") Password hint
          input(type="password" name="password" id="user-password-hint" class="fm-i")

        button(type="submit" class='fm-btn') Create my account
    
    script(src="js/home.js")