.hr-btn:nth-child(1) {
  display: none;
}

.subt {
  margin-bottom: 0;
}

.fm-btn {
  width: 90%;
}

/* Utils */
.link {
  margin-bottom: 30px;
  font-size: 0.9rem;
}

/* Desktop */
@media (min-width: 768px) {
  .fm-btn {
    width: 50%;
  }
}