.fm-btn {
  width: 70%;
}

.fm-lb:nth-child(2) {
  width: 50%;
}

.fm-lb:nth-child(3) {
  width: 60%;
}

.fm-lb:nth-child(4),
.fm-lb:nth-child(5) {
  width: 70%;
}

.fm-lb:nth-child(6) {
  width: 50%;
}

/* Utils */
.link {
  margin-bottom: 30px;
  font-size: 0.9rem;
}

/* Desktop */
@media (min-width: 768px) {
  .fm-btn {
    width: 50%;
  }
}