.hr-btn:nth-child(1) {
  display: initial;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subt {
  text-align: center;
}

.tb {
  border: var(--border-light);
}


.tb-th {
  padding: 10px 20px;

  background-color: var(--background-color-hr-mn);
  color: var(--font-color);
}

.tb-td {
  max-width: 100px;
  padding: 10px;

  color: var(--font-color-light);

  text-align: center;

  overflow: hidden;
}

.td-btn {
  display: inline-block;
  margin: 5px;
  padding: 5px;

  background-color: var(--background-color-btn);
  color: var(--font-color-light);

  border: var(--border-light);

  cursor: pointer;
}

.td-icon {
  fill: var(--font-color-light);
  vertical-align: middle;
}

.td-role,
.td-mod {
  margin: 5px;
  padding: 5px;

  color: var(--font-color-light);

  border: var(--border-light);
  border-radius: 5px;
}

.fm-btn {
  width: 80%;
}

@media (min-width: 768px) {
  .hr-mn li:nth-child(1) {
    display: initial;
  }

  main {
    margin: 40px 20px;
  }

  .tb-td {
    max-width: 500px;
  }

  .td-btn {
    padding: 10px;
  }

  .td-role,
  .td-mod {
    display: initial;
  }

  .td-role:hover,
  .td-btn:hover,
  .td-icon:hover {
    opacity: 0.8;
  }

  .td-role:active,
  .td-btn:active,
  .td-icon:active {
    opacity: 0.7;
  }

  .fm-btn {
    width: 50%;
  }
}