.tb-th:nth-child(2),
.tb-td:nth-child(2),
.tb-th:nth-child(4),
.tb-td:nth-child(4),
.tb-th:nth-child(5),
.tb-td:nth-child(5){
  display: none;
}

.td-role {
  display: block;
}


.tb-td {
  color: var(--font-color-light);

  text-align: center;
}

@media (min-width: 768px) {
  .tb-th:nth-child(2),
  .tb-td:nth-child(2),
  .tb-th:nth-child(4),
  .tb-td:nth-child(4),
  .tb-th:nth-child(5),
  .tb-td:nth-child(5){
    display: table-cell;
  }
}