.hr-btn:nth-child(1) {
  display: initial;
}

main {
  display: flex;
  margin-left: 0;
  margin-right: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tb {
  border: var(--border-light);
}

.tb-th:nth-child(2),
.tb-td:nth-child(2),
.tb-th:nth-child(4),
.tb-td:nth-child(4),
.tb-th:nth-child(5),
.tb-td:nth-child(5){
  display: none;
}

.td-role {
  display: block;
}

.tb-th {
  padding: 10px 20px;

  background-color: var(--background-color-hr-mn);
  color: var(--font-color);
}

.tb-td {
  color: var(--font-color-light);

  text-align: center;
}

.td-btn {
  display: inline-block;
  margin: 5px;
  padding: 10px;

  background-color: var(--background-color-btn);
  color: var(--font-color-light);

  border: var(--border-light);

  cursor: pointer;
}

.td-role {
  margin: 5px;
  padding: 5px;

  color: var(--font-color-light);

  border: var(--border-light);
  border-radius: 5px;
}

.td-icon {
  fill: var(--font-color-light);
  vertical-align: middle;
}

@media (min-width: 768px) {
  .hr-mn li:nth-child(1) {
    display: initial;
  }

  main {
    margin: 40px 20px;
  }

  .tb-th:nth-child(2),
  .tb-td:nth-child(2),
  .tb-th:nth-child(4),
  .tb-td:nth-child(4),
  .tb-th:nth-child(5),
  .tb-td:nth-child(5){
    display: table-cell;
  }

  .td-role {
    display: initial;
  }

  .td-role:hover,
  .td-btn:hover,
  .td-icon:hover {
    opacity: 0.8;
  }

  .td-role:active,
  .td-btn:active,
  .td-icon:active {
    opacity: 0.7;
  }
}