search(class='bar-search')
  input(type="text" class='bar-search-i' id='bar-search-i' spellcheck="false")

  fieldset(class='bar-search-fset')
    label(class='bar-search-lb') ID
    input(type="radio" class='bar-search-type' name='bar-search-type' value='id' checked)
    
    label(class='bar-search-lb') Username
    input(type="radio" class='bar-search-type' name='bar-search-type' value='username')