nav(class='nv-inapp')
  a(href='/home' class=(currentPage === '/home' ? 'nv-inapp-link nv-inapp-link-current' : 'nv-inapp-link')) home
  a(href='/topics' class=(currentPage === '/topics' ? 'nv-inapp-link nv-inapp-link-current' : 'nv-inapp-link')) topics
  a(href='/profile' class=(currentPage === '/profile' ? 'nv-inapp-link nv-inapp-link-current' : 'nv-inapp-link')) profile